<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" type="text/css" href="layout.css">

</head>

<body>

	<table class="center" style="width: 900px;" cellpadding="0"
		cellspacing="0">
		<tr>
			<td colspan="2" style="background-color: #0000FF;">
				<h1 style="margin: 0; padding: 0;">Title</h1>
			</td>
		</tr>

		<tr>
			<td
				style="background-color: #FFD700; width: 100px; vertical-align: top;">
				<b>Menu</b><br> sample <br> sample <br> sample <br>
				sample <br> sample <br> sample <br> sample <br>
				sample <br> sample <br> sample <br> sample <br>
				sample <br> sample <br> sample <br> sample <br>
				sample <br> sample <br> sample <br>

			</td>
			<td
				style="background-color: #eeeeee; height: 200px; width: 400px; vertical-align: top;">
				Content goes here
				
				
				
				
			</td>
		</tr>

		<tr>
			<td colspan="2"
				style="background-color: #FFA500; text-align: center;"><a
				href="http://www.phoenixjcam.com">phoenixjcam.com</a></td>
		</tr>
	</table>

</body>
</html>
